<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header('Home')"></head>
<body style="background-color: #e9ebee">

    <div class="container-fluid p-0">
        <div th:replace="nav :: nav(${category})"></div>
        <div class="container" style="margin-top: 70px">
            <h1 th:text="#{article}">Article</h1>
            <div class="row">
                <div  class="col-md-2">
                    <a href="/add"><h3 style="color: cornflowerblue" th:text="#{add-article}">Add Article</h3></a>
                </div>
                    <div class="col-md-10">
                        <form th:action="@{/article/search}" method="get" id="frm">
                            <div class="row">
                                <div class="col-md-4">
                                    <select class="form-control" name="catId" id="cat">
                                        <th:block th:each="cat : ${category}">
                                            <option th:value="${cat.id}" th:selected="(${cat.id}==${catId})" th:text="${cat.catName}"></option>
                                        </th:block>
                                        <option th:value="${0}" th:selected="(${catName})">All</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" name="title" id="search" th:value="${searchParameter}" class="form-control" th:placeholder="#{search-by-title}"/>
                                </div>
                                <div class="col-md-4">
                                <button type="submit" class="btn btn-success" style="margin-top: 0px;" th:text="#{search}">Search</button>
                                </div>
                            </div>


                        </form>
                    </div>

            </div>
            <div th:if="${articles.size()==0}" class="row ml-0 mr-0" style="background-color: white;border-bottom: darkgray 1px solid">
                <div class="col-md-12">
                    <center>
                        <img src="https://www.flagandmountains.com/wp-content/uploads/2019/03/animat-search-color.gif" width="70px">
                    </center>
                </div>
            </div>
            <div class="row ml-0 mr-0" th:each="article : ${articles}" style="background-color: white;border-bottom: darkgray 1px solid;padding: 20px">
                <div class="col-md-1 p-0 mb-auto">
                    <center>
                        <img th:src="'http://localhost:8080/image/'+${article.image}" width="40px" style="border-radius: 50%">
                    </center>
                </div>
                <div class="col-md-7 p-0">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="mb-0" style="font-weight: bold;font-size: 20px" th:text="${article.id} + '=>' + ${article.title}"></p>
                        </div>
                        <div class="col-md-12">
                            <p class="mb-0" th:text="${article.author} + ' )  ' + ${article.category.catName}" style="color: cornflowerblue"></p>
                        </div>
                        <div class="col-md-12">
                            <p class="mb-0" th:text="${article.description}"></p>
                        </div>
                        <div class="col-md-12 mb-0">
                            <p class="mb-0" th:text="${article.createdDate}"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-0 m-auto">
                    <center>
                        <a th:href="@{/update/{id}(id=${article.id})}">
                            <button class="btn btn-primary" style="width:60px;height: 60px;padding:0px;margin:0px;border-radius: 50%">
                                <i class="far fa-edit"></i>
                            </button>
                        </a>
                        <a th:href="@{/article/{id}(id=${article.id})}">
                            <button class="btn btn-success" style="width:60px;height: 60px;padding:0px;margin:0px;border-radius: 50%">
                                <i class="fas fa-eye"></i>
                            </button>
                        </a>
                        <a th:href="@{/delete/{id}(id=${article.id})}">
                            <button class="btn btn-danger" style="width:60px;height: 60px;padding:0px;margin:0px;border-radius: 50%">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </a>
                    </center>
                </div>
                <hr>
            </div>
        </div>
        <div class="container mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination pg-blue">
                    <th:block th:each="p,i : ${enPage}">
                        <li th:class="${currentPage}==1 ? 'page-item disabled' : 'page-item'" th:if="${i.index+1}==1 and ${page}>1">
                            <a class="page-link" th:href="@{/page/{page}(page=${currentPage}-1)}" th:if="${page}>1" th:text="#{previous}"></a>
                        </li>
                            <li th:class="${pageSelect}==${i.index} ? 'page-item active' : 'page-item'" th:if="${page}>1"><a th:href="@{/page/{page}(page=${p.key})}" class="page-link" th:text="${p.value}"></a></li>
                        <li th:class="${currentPage}==${page} ? 'page-item disabled' : 'page-item'"  th:if="(${p.key}==${page} and ${page}>1)">
                            <a class="page-link" th:href="@{/page/{page}(page=${currentPage}+1)}" th:if="${page}>1" th:text="#{next}"></a>
                        </li>
                    </th:block>
                    <input type="hidden" th:value="${enPage}" />
                </ul>
            </nav>
        </div>
        <!-- Footer -->
        <!-- Footer -->

    </div>


    <script>

            var cat = document.getElementById("cat");
            cat.addEventListener("change", function (ev) {
                var catId = cat.options[cat.selectedIndex].value;
                if(catId=="0"){
                    document.getElementById("frm").submit();
                }else {
                    console.log(catId);
                    document.getElementById("search").value = "";
                    document.getElementById("frm").submit();
                }

                ev.preventDefault();
            });
    </script>
    <div th:replace="footer :: script">

    </div>
</body>
</html>