<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark blue scrolling-navbar mb-5" th:fragment="nav(category)">
    <div class="container">
        <a class="navbar-brand" href="/" th:text="#{article-management}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link"  href="/" th:text="#{home}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category" th:text="#{category}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:text="#{about}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?lang=en" th:text="#{english}">English</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?lang=kh" th:text="#{khmer}">Khmer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?lang=kr" th:text="#{korea}">Korea</a>
                </li>
            </ul>
        </div>
    </div>

</nav>
</body>
</html>